*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Inter', sans-serif;

}
.container{
    width: 1140px;
    margin: 0 auto;
}
#head{
    background: #477018;
    height: 50px;
}
.header h1{
    width: 246px;
    height: 19px;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 15px;
}



/* hdeader-//././././././.complete */



.main-nav{
display: flex;
justify-content: space-between;
margin-top: 31px;
}

.nav-middle ul{
list-style: none;


}
.nav-middle ul a{
text-decoration: none;
color: #282828;

font-size: 16px;
font-style: normal;
font-weight: 400;
padding-left: 50px;

}
.nav-middle ul a:hover{
color: #477018;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;


}
.nav-right{
    display: flex;
    gap: 18px;
}
/* navigation---------------------complete */


/* bannar-------------------start */
#banner{
    background-image: url(image/bannar.png);
    height: 700.00012px;
    margin-top: 29px;
    background-repeat:no-repeat;
    background-size: cover;
}
.banner-head{
    width: 550px;
    padding-top: 134px;
}
.banner-head h1{
color: #282828;
font-family: Inter;
font-size: 75px;
font-style: normal;
font-weight: 700;
line-height: normal;


}
.banner-head h1 span{
    color: #F47606;
    font-family: Inter;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.banner-para{
width: 402px;
padding-top: 20px;
}
.banner-para p{
color: #676767;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}
.bannar-btn{
    margin-top: 30px;
}
.bannar-btn button{
    width: 200px;
    height: 56px;
   
    border-radius: 10px;
    background: #477018;
    border: none;
}
.bannar-btn button a{
color: #FFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
text-decoration: none;

}
/* bannar---------complete */
.main-service-card{
    margin-top: 132px;
    display: flex;
    justify-content: space-between;
}
.service-card-details{
width: 267px;
height: 320px;
border-radius: 25px;
border: 0.5px solid #C9C9C9;
background: #FFF;

}
.service-card-icon{
    font-size: 51px;
    margin-left: 108px;
    margin-top: 88px;
    color: #F47606;  
}
.service-card-head{
    text-align: center;
    
    margin-top: 30px;
}
.service-card-head h1{
color: #282828;
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 600;

}
.service-card-para{
   text-align: center;
    
}
.service-card-para p{
color: #676767;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}
/* service-card-complete */
.main-mini-fruits{
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
}
.mini-fruits-widh{
    width:170px;
    height: 190px;
}
.mini-fruits-name{
color: #282828;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: center;
}
/* feature-product-start */
.featured-product-head{
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
}

.featured-product-head h1{
color: #282828;
font-family: Inter;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.main-featured-product{
margin-top: 50px;
display: flex;
justify-content: space-between;
}
.featured-product-container{
    width: 365px;
    height: 70px;
    position: relative;
    height: auto;
    
}

.add-to-cart{
    position: absolute;
    top: 372px;
    left: 64px;
}

.featured-product-reating{
    padding-left:125px ;
    margin-top: 30px;
}
.featured-product-name p{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 12px;
}
.featured-product-name h1{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 12px;
}
/* choose section */
/* .choose-header h1{
    color: #282828;
    text-align: center;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
} */

#choose{
   margin-top: 130px;
}
.main-choose-card{
    margin-top: 30px;
   display: flex;
   justify-content: space-between;
}
.choose-header h1{
color: #282828;
text-align: center;
font-family: Inter;
font-size: 35px;
font-style: normal;
font-weight: 700;

}
.choose-card-left{
    width: 356px;
}
.choose-card-img img{
    margin-left: 150px;
}
.choose-card-img h1{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 49px;
}
.choose-card-img p{
color: #676767;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
margin-top: 10px;
}
.choose-card-middle{
width: 356px;
}
.choose-card-middle img{
margin-left: 132px;

}
.choose-card-middle h1{
 color: #000;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.choose-card-middle p{
color: #676767;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}
.choose-card-right{
    width: 356px;
}
.choose-card-right img{
margin-left: 162px;
margin-top: 40px;
}
.choose-card-right h1{
color: #000;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.choose-card-right p{
   color: #676767;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}



/* healthy-section-start */
#healthy{
    margin-top: 130px;
}
.healthy-details{
    background: url(image/healthy-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;

}
.healthy-details h1{
color: #282828;
font-family: Inter;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-top: 92px;
padding-left: 104px;
}
.healthy-details p{
color: #676767;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
padding-left: 104px;
padding-top: 20px;
}
.healthy-details button{
width: 200px;
height: 56px;
border-radius: 10px;
background: #477018;
border: none;
margin-left: 104px;
margin-top:30px ;
}
.healthy-details button a{
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 28px;
text-decoration: none;

}
/* secend-feature----------start */
.menubar{
    display: flex;
    justify-content: space-between;
}
.menubar-left h1{
color: #282828;
font-family: Inter;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-top: 130px;

}
.menubar-right ul{
list-style: none;
margin-top: 137px;
}
.menubar-right ul a{
    color: #676767;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    padding-left: 44px;
}
.menubar-right ul a:hover{
color: #F47606;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 28px;
}
.main-secend-featured-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
    margin-top: 50px;
}
/* deal-section-start */
.main-deal{
    display: flex;
    justify-content: space-between;
}
.deal-left h1{
    color: #282828;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 144px;
}
.deal-right{
    display: flex;
    gap: 30px;
    margin-top: 130px;
 
}
.little-card{
width: 70px;
height: 70px;
border-radius: 10px;
background: #F47606;
}
.little-card h1{
text-align: center;
color: #FFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-top: 10px;
}
.card{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background: #F9F9F9;
    
}
.card h1{
color: #F47606;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.main-third-bannar{
    background: url(image/third-bannar.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin-top: 50px;
}
.main-third-bannar h1{
color: #282828;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 55px;
width: 350px;
padding-top: 85px;
margin-left: 125px;
}
.main-third-bannar p{
color: #282828;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 10px;
margin-left: 125px;
}
.main-third-bannar button{
    width: 200px;
    height: 56px;
    border-radius: 10px;
    background: #477018;
    border: none;
    margin-left: 125px;
    margin-top:30px ;
    }
    .main-third-bannar button a{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-decoration: none;
    
    }
    /* top-rated-start */

.top-rated-head{
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
}
.top-rated-head h1{
color: #282828;
font-family: Inter;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.top-rated-head p{
color: #676767;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}
.top-rated-product{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
/* product-section */
.origin-nav{
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
}
.origin-left h1{
color: #282828;
font-family: Inter;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.origin-right ul{
    list-style: none;
    
}
.origin-right ul a{
color: #676767;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
text-decoration: none;
padding-left: 45px;
}
.origin-right ul a:hover{
color: #F47606;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 28px;
text-decoration: none; 
padding-left: 45px;
}
.main-origin-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 21px;
    margin-top: 50px;
}
.origin-card-one{
    height:auto;
    width: 267px;
}
.origin-card-img{
    background-blend-mode: darken;
    height: 267px;
    width: 278px;
    border-radius: 42px;

    
}
.ratting img{
    padding: 47px 0px 0px 70px;
  
}

.ratting p{
color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-left: 70px;
padding-top: 10px;
}
.ratting h1{
color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-left: 70px;
padding-top: 10px;
}
/* testimonial-start */
.testimonial-left{
    width: 558px;
    height: 422px;
    border-radius: 10px;
    border: 0.5px solid #C9C9C9;
}
.testimonial-logo img{
    padding: 76px 0px 0px 46px;
}
.testimonial-left-details p{
    color: #676767;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    width: 466px;
    margin: 0 auto;
    margin-top: 30px;
}
.testimonial-protfolio{
    display: flex;
    margin-left: 45px;
    margin-top: 33px;
}
.testimonisl-protfolio-details{
    margin-left: 20px;
}
.testimonisl-protfolio-details h1{
color: #282828;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 28px;
}
.testimonisl-protfolio-details p{
color: #676767;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}
.border-protfolio-details p{
color: #676767;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
width: 466px;;
}
.testimonial-icon-two img{
    padding-left: 266px;
}
.right-border{
width: 558px;
height: 199px;
border-radius: 10px;
border: 0.5px solid #C9C9C9;


}
.main-testimonial{
    display: flex;
    justify-content: space-between;
    margin-top: 53px;
}
.border-protfolio-details{
    padding-top: 34px;
    padding-left: 46px;
}
.right-border-two{
width: 558px;
height: 199px;
border-radius: 10px;
border: 0.5px solid #C9C9C9;
margin-top: 24px;

}
.testimonial-head{
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
}
.testimonial-head h1{
color: #282828;
font-family: Inter;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.testimonial-head p{
    color: #676767;
    text-align: right;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
/* blog-section */
.blog-head h1{
color: #282828;
text-align: center;
font-family: Inter;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 130px;
}
.blog-main-card{
    width: 364px;
    height: 450px;
    border-radius: 10px;
    border: 0.5px solid #C9C9C9;
    background: #FFF;
    
}
.blog-ul ul{
    list-style: none;
    display: flex;
}
.one{
margin-top: 24px;
padding-left: 28px;
}
.two p{
    color: #676767;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 24px;
    padding-left: 10px;
}
.three{
    margin-top: 24px;
    padding-left: 20px;  
}
.four{
color: #676767;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 24px;
padding-left: 10px;
}
.blog-details h1{
    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    margin-top: 10px;
    padding-left: 28px; 
}
.gap{
    width: 307px;
    height: 0.5px;
    background: #C9C9C9;
    margin: 0 auto;
    margin-top: 35px;
}
.note{
    display: flex;
    justify-content: space-between;
}
.note-left{
display: flex;
}
.note-left img{
padding-top: 31px;
padding-left: 35px;
}
.note-left p{
color: #676767;
text-align: center;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
width:115px;
padding-left: 10px;
padding-top: 30px;
 }
 .note-right h1{
color: #F47606;
text-align: center;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 130px;
padding-top: 30px;
padding-right: 29px;
 }
 .blog-card{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
 }
 /* extra-section-start */
 .extra-head{
    background-color: #f5f2f2;
    border-radius: 10px;
    margin-top: 65px;
 }
 .extra-head h1{
    text-align: center;
    font-size: 54px;
    font-weight: 700;
    font-style: normal;
    color: #000;
    line-height: norma;
    padding-top: 40px;
    
 }
 .extra-head h1 span{
    text-align: center;
    font-size: 54px;
    font-weight: 700;
    font-style: normal;
    color: #F47606;
    line-height: norma;
 }
 .extra-head p{
    color: gray;
    width: 900px;
    height:auto;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
 }
 .extra-img{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
 }
 /* footer-star */
 #footer{
    background:#373C33;
    height: 576px;
    margin-top: 130px;
 }
 .main-footer{
    display: flex;
    justify-content: space-between;
 }
 
 .footer-left-image{
    padding-top: 130px;
    margin-left: 230px;
 }
 .l-footer{
    width: 60px;
    height: 60px;
    background: url(image/green-elips.png);
    margin-left: 230px;
    margin-top: 36px;
 }
 .l-footer img{
    margin-left: 15px;
    margin-top: 18px;
 }
 .r-footer p{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top: 40px;
    margin-left: 10px;
   
    
 }
 .r-footer h1{
color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 28px;
margin-left: 10px;
width: 260px;


 }
 .footer-call-section{
    display: flex;
 }
 .middle-head h1{
color: #FFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 28px;
margin-top: 135px;
 }
 .middle-ul ul{
    list-style: none;
    padding-top: 30px;
  
 }
 .middle-ul ul li a{
color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
text-decoration: none;


 }
 .footer-para p{
color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
margin-top: 40px;
 }
 .input-box input{
width: 244px;
height: 56px;
border-radius: 10px;
margin-top: 26px;

 }
 .input-box button{
width: 96px;
height: 56px;
border-radius: 10px;
background: #F47606;
border: none;
margin-right: 20px;

 }
 .input-box button a{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-decoration: none;
 }
 .footer-last{
    padding-right: 130px;
 }
 